---
import Button from './Button.astro';
---
<div class="flex justify-between items-center mb-6 px-2 py-2 ">
  <h1 id="appTitle" class="text-3xl md:text-4xl font-bold text-center">
    Event Timer
  </h1>
  <div class="flex gap-2">
    <Button id="breakTimesToggle" variant="icon" size="sm" title="Toggle break times">
      <i class="ti ti-clock-pause text-xl"></i>
    </Button>
    <Button id="fullscreenBtnOverview" variant="icon" size="sm" title="Fullscreen">
      <i class="ti ti-maximize text-xl"></i>
    </Button>
    <Button id="themeToggleBtn" variant="icon" size="sm" title="Toggle theme">
      <i class="ti ti-sun text-xl"></i>
    </Button>
  </div>
</div>


